.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 7px 15px;
}

[class*="item-"] {
    text-transform: uppercase;
    padding-right: 10px;
    width: 25%;
    text-align: left;
}

.item .buttons-container button:first-child {
    margin-right: 10px;
}
